<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RestService.Properties.Settings>
            <setting name="API_URL" serializeAs="String">
                <value>https://my-json-server.typicode.com/utn-frcu-isi-tdp/tas-db/</value>
            </setting>
            <setting name="GET_CLIENTS_PATH" serializeAs="String">
                <value>clients</value>
            </setting>
            <setting name="GET_PRODUCTS_PATH" serializeAs="String">
                <value>products</value>
            </setting>
            <setting name="GET_ACCOUNT_BALANCE_PATH" serializeAs="String">
                <value>account-balance</value>
            </setting>
            <setting name="GET_ACCOUNT_MOVEMENTS_PATH" serializeAs="String">
                <value>account-movements</value>
            </setting>
            <setting name="GET_PRODUCT_RESET_PATH" serializeAs="String">
                <value>product-reset</value>
            </setting>
        </RestService.Properties.Settings>
    </applicationSettings>
</configuration>